<?xml version="1.0" encoding="utf-8"?>
<!--
 *  _____ _______         _                      _
 * |_   _|__   __|       | |                    | |
 *   | |    | |_ __   ___| |___      _____  _ __| | __  ___ ____
 *   | |    | | '_ \ / _ \ __\ \ /\ / / _ \| '__| |/ / / __|_  /
 *  _| |_   | | | | |  __/ |_ \ V  V / (_) | |  |   < | (__ / /
 * |_____|  |_|_| |_|\___|\__| \_/\_/ \___/|_|  |_|\_(_)___/___|
 *                                _
 *              ___ ___ ___ _____|_|_ _ _____
 *             | . |  _| -_|     | | | |     |  LICENCE
 *             |  _|_| |___|_|_|_|_|___|_|_|_|
 *             |_|
 *
 *   PROGRAMOVÁNÍ  <>  DESIGN  <>  PRÁCE/PODNIKÁNÍ  <>  HW A SW
 *
 * Tento zdrojový kód je součástí výukových seriálů na
 * IT sociální síti WWW.ITNETWORK.CZ
 *
 * Kód spadá pod licenci prémiového obsahu a vznikl díky podpoře
 * našich členů. Je určen pouze pro osobní užití a nesmí být šířen.
 * Více informací na http://www.itnetwork.cz/licence
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.itnetwork.activities">

    <!-- Výčet oprávnění, která aplikace požaduje -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Hlavní aktivita -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Aktivity součtu čísel -->
        <activity
            android:name=".SumActivity"
            android:parentActivityName=".MainActivity">
        </activity>

        <!-- Aktivita pro samotný součet čísel, vracející výsledek do SumActivity -->
        <activity
            android:name=".SumResultActivity"
            android:parentActivityName=".MainActivity">
        </activity>

        <!-- Aktivita pro zobrazení souřadnic v mapě -->
        <activity
            android:name=".MapActivity"
            android:parentActivityName=".MainActivity">
        </activity>

        <!-- Aktivita pro volání a SMS -->
        <activity
            android:name=".PhoneActivity"
            android:parentActivityName=".MainActivity">
        </activity>

        <!-- Aktivita s fotoaparátem a výběrem souboru z galerie -->
        <activity
            android:name=".PhotoActivity"
            android:parentActivityName=".MainActivity">
        </activity>

        <!-- Aktivita pro sdílení textu -->
        <activity
            android:name=".ShareActivity"
            android:parentActivityName=".MainActivity">
        </activity>

        <!-- File provider potřebný pro API 23 a vyšší -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="cz.itnetwork.activities.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

    </application>

</manifest>